{% if kb_info %}
{{ kb_info.answer }}
{% else %}
I'm sorry, I don't have specific information about that. Here are some general details about Barbeque Nation:

- We offer an unlimited grilled buffet experience
- Our menu includes both vegetarian and non-vegetarian options
- We have special discounts for online bookings
- Children below 5 years dine free

For more specific information, please visit our website or contact the restaurant directly.
{% endif %}

Is there anything else you'd like to know?